.Biko {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Biko-side-menu-expanded {
  float: left;
  height: 100vh;
  width: 40vw;
  background-color: #612b15;
}

.Login-menu {
  float: right;
  padding: 10px 15px;
  height: 10vh;
  background-color: #612b15;
  font-size: calc(10px + 1vmin);
}

.Biko-side-menu {
  border: none;
  height: 10vh;
  float: left;
  padding: 10px 15px;
  background-color: #612b15;
}

.three-lines {
  height: 55px;
  background-color: #612b15;
}

.Biko-side-menu:hover {
  background-color: #d6b894;
  
  .three-lines {
    background-color: #d6b894;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Biko-header {
  /*background-color: #d6b894;/*#282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Biko-top-menu {
  background-color: #612b15;
  height: 10vh;
  width: 100vw;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
